<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>BlogMaker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
</head>
<body> 
  <nav class="navbar has-shadow is-dark">
    <div class="navbar-brand">
      <a class="navbar-item" href="/login">
        <img id="logo" src="/assets/img/blog.png" alt="blog logo"/>
      </a>
      <a class="navbar-burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div class="navbar-menu" id="nav-links">
      <div class="navbar-end">
        <div class="navlink navbar-item"><a id="loginButton" href="/login">Login</a></div>
        <div class="navlink navbar-item"><a id="signupButton" href="/signup">Sign up</a></div>
      </div>
    </div>
  </nav>
  
  <section class = "section" id="content">

  </section>

  <div id="blogMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
